<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quec1994.mapper.user.UserMapper">

  <delete id="deleteByName" parameterType="string">
    delete user where name = #{name};
  </delete>
</mapper>
